&__Ad
  display: flex
  justify-content: center

  &__Content
    pointer-events: none
    position: absolute
    left: 0
    top: 0
    overflow: auto

    &--width-300
      left: 10px

    &--height-250
      top: 100px

    &--width-728
      left: 20px

  > div
    display: inline-block
    text-align: left
    line-height: 1

  .ad,
  .link
    left: 0
    top: 0

    img
      display: inline-block
